.page{
  height:35px;
  line-height:35px;
  text-align:right;
  margin:20px auto;
  display:block;
  overflow:hidden;
}
.page a{
  margin:0px 2px;
  padding:3px 6px;
  color: #5697f8;
  border: 1px solid #a0c5fc;
  background-color:#fff;
}
.page a:hover{
  margin:0px 2px;
  padding:3px 6px;
  color: #fff;
  border: 1px solid #0234ef;
  background-color: #0641d7;
}
.page span{
  margin:0px 2px;
  padding:3px 6px;
  color: #fff;
  border: 1px solid #0234ef;
  background-color: #0641d7;
}
