.input1{
  color:#555;
  border: 1px solid #ddd;
  padding:5px 5px;
  display:inline;
  background-color: #fff;
}

.input3{
  color:#555;
  border: 1px solid #ddd;
  padding:5px 5px;
  text-align:center;
  background-color: #fff;
}
.input3-explain{
  margin:0 10px;
}
.input2{
  color:#D03E0D;
  font-size:22px;
  font-weight:bold;
  border: 2px solid #eee;
  padding:5px 10px;
  background-color: #fff;
}
.input2-explain{
  margin:0 10px;
}
