.modal-bg{ z-index:990; width:100%;height:100%; position:fixed; left:0; top:0;  background:rgba(0 , 0 , 0 , .5); }
.modal-main{ border:3px solid #b8d1fc; min-width:300px; display: inline-block; position:absolute; z-index:999; left:50%;top:20%; background:#fff; margin-left:-445px;text-align:center; overflow:hidden;}
.modal-title{ height:30px;text-align:left; line-height:30px; background:#e9f4fe; padding:0 10px; font-size:16px; color:#2547f2;}
.modal-close{ cursor:pointer; float:right;margin: -3px -6px 0px}
.modal-content{ padding:10px; overflow:hidden}
.modal-footer{margin: 0 auto;padding: 10px}
