.user-info{ height:37px; line-height:37px; background:url(../../../../images/user_bg.png) no-repeat 0 center; display:inline-block; padding:0 0px 0 30px; color:#fff; margin:27px 0 0 30px;}
.user-info a{ color:#08daf9; padding:0 0 0 5px; text-decoration:underline;}
.user-info a:Hover , .data a:Hover{ color:#fef398;}
.user-info img{ padding:0 0 3px 0;}
