
.add-btn,.btn{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background:#94b1fe;
  border: 0px solid #fff;
  width:60px;
  height:28px;
  line-height:28px;
  display:inline-block;
  text-align:center;
  border-radius:4px;
}
.add-btn:hover , .btn:hover{
  background:#b3c8ff; cursor:pointer; color:#fff;
}
.add-btn img{ padding:0 0 2px 0;}

.add-btn-text span,.btn{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
